mixin slider(additionalClass)
  .slider(class=additionalClass)
    .slider__item
      img.slider__item-image(src="img/slider-item.png" alt="Aeroflot")
      .slider__item-number 10
    .slider__item
      img.slider__item-image(src="img/slider-item.png" alt="Aeroflot")
      .slider__item-number 10
    .slider__item
      img.slider__item-image(src="img/slider-item.png" alt="Aeroflot")
      .slider__item-number 10