mixin coin(additionalClass)
  .coin(class=additionalClass)
    .coin__header Чтобы выйграть скидку, <br>нажмите на монетку!
    .coin__arrow
    a.coin__button(href="#") 50&#8381;
    .coin__message Поздравляем, ваша скидка <br>на следующий визит — 100 руб!