mixin message(additionalClass)
  .message(class=additionalClass)
    .message__icon
    p.message__content 
      span.message__content-bold Мария
      |, добрый день. Вы были в Веснушке уже 19 раз! Ваш уровень скидки: 