include ../blocks/message/message.pug
include ../blocks/slider/slider.pug
include ../blocks/progress/progress.pug
include ../blocks/coin/coin.pug
include ../blocks/address/address.pug
include ../blocks/article/article.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/map/map.pug
include ../blocks/popup/popup.pug
include ../blocks/banknote/banknote.pug
include ../blocks/animation/animation.pug
