include ../blocks/message/message.pug
include ../blocks/slider/slider.pug
include ../blocks/progress/progress.pug
include ../blocks/coin/coin.pug
include ../blocks/address/address.pug
include ../blocks/article/article.pug
include ../blocks/wrapper/wrapper.pug
