mixin progress(additionalClass)
  .progress(class=additionalClass)
    .progress__header До следующего уровня осталось 
    .progress__content
      .progress__content-row
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item
        .progress__item
      .progress__content-row
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item.progress__item--active
        .progress__item
        .progress__item
        .progress__item
        .progress__item