doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .ui.loader.active
    .animation
      img#animation(src='', alt='')
    include ../templates/scripts.pug
    script.
      $('.loader').removeClass('active');