mixin popup(additionalClass)
  .popup(class=additionalClass)
    p.popup__content В жизни Олега Жданкина были танки, пулеметы, кино в бобинах, самые разные люди и престижные должности. Теперь в ней есть животные, о которых...
    a.popup__button(href="#") Ок